body {
	background-color: #000000;
}
#header {
	font-family: AmericanTypewriter;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 1.08px;
	text-align: center; 
	height:20px;
}
#numUsers {
	font-family: AmericanTypewriter;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.08px;
	text-align: center; 
	height:30px;
}
#now {
	font-family: AmericanTypewriter;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.08px;
	text-align: left; 
	height:100px; 
}
#control {
	height: 90px;
	width: 100%;
	text-align: center;
}
#reset {
	height: 50px;
	width: 100%;
	color: white;
	text-align: center;
}
#btn {
	width: 200px;
	height: 50px;
	color: #246;
	background-color: white;
}
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	font-family: AmericanTypewriter;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1.08px;
}

.zInputWrapper {
  display: inline-block;
}
.zInput {
  display: inline-block;
  width: 60px;
  height: 40px;
  background-color: white;
  margin: 20px 10px 20px;
  padding: 0px;  
  font-family: HiraMinProN-W3;
  text-align: center;
  cursor: default;
  color: #2980b9;
  border: #2980b9 1px solid;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0 #FFFFFF;      
  font-size: 20px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.zSelected {
  color: white;
  background-color: #D0011B;
  border: #FFFFFF 1px solid;
}
.zSelected.zCheckbox { background-color: #e74c3c; }